<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.vvings.ocpsystem.dao.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="org.vvings.ocpsystem.pojo.ProductInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_model" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_volume" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_category" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_open_fare" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="dealer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, product_name, product_model, product_volume, product_category, product_open_fare, 
    create_time, update_time, dealer_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from opc_product_info
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectBydealerId" resultType="org.vvings.ocpsystem.pojo.ProductInfo">
      select <include refid="Base_Column_List"/> from opc_product_info where dealer_id=#{dealerId}
    </select>

  <select id="searchProductByKeyWord" resultType="org.vvings.ocpsystem.pojo.ProductInfo">
    select <include refid="Base_Column_List"/>
    from opc_product_info
    <where>
      <if test="productID != null">
        and product_id=#{productID}
      </if>
      <if test="productModel != null">
        and product_model like concat('%',#{productModel},'%')
      </if>
      <if test="categoryId != null">
        and product_category= #{categoryId}
      </if>
    </where>
  </select>
  <select id="searchProductByPingYingFirst" resultType="org.vvings.ocpsystem.pojo.ProductInfo">
    select <include refid="Base_Column_List"/>
    from opc_product_info
    <where>
      <if test="productID != null">
        and product_id=#{productID}
      </if>
      <if test="productModel != null">
        and pinyin(product_model) like concat('%',#{productModel},'%')
      </if>
      <if test="categoryId != null">
        and product_category= #{categoryId}
      </if>
    </where>
  </select>
  <select id="searchProductByPingYing" resultType="org.vvings.ocpsystem.pojo.ProductInfo">
    select <include refid="Base_Column_List"/>
    from opc_product_info
    <where>
      <if test="productID != null">
        and product_id=#{productID}
      </if>
      <if test="productModel != null">
        and to_pinyin(product_model) like concat('%',#{productModel},'%')
      </if>
      <if test="categoryId != null">
        and product_category= #{categoryId}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from opc_product_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.vvings.ocpsystem.pojo.ProductInfo" >
    insert into opc_product_info (id, product_id, product_name, 
      product_model, product_volume, product_category, 
      product_open_fare, create_time, update_time, 
      dealer_id)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{productModel,jdbcType=VARCHAR}, #{productVolume,jdbcType=INTEGER}, #{productCategory,jdbcType=INTEGER},
      #{productOpenFare,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{dealerId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.vvings.ocpsystem.pojo.ProductInfo" >
    insert into opc_product_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productModel != null" >
        product_model,
      </if>
      <if test="productVolume != null" >
        product_volume,
      </if>
      <if test="productCategory != null" >
        product_category,
      </if>
      <if test="productOpenFare != null" >
        product_open_fare,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="dealerId != null" >
        dealer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null" >
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="productVolume != null" >
        #{productVolume,jdbcType=INTEGER},
      </if>
      <if test="productCategory != null" >
        #{productCategory,jdbcType=INTEGER},
      </if>
      <if test="productOpenFare != null" >
        #{productOpenFare,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealerId != null" >
        #{dealerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.vvings.ocpsystem.pojo.ProductInfo" >
    update opc_product_info
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null" >
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="productVolume != null" >
        product_volume = #{productVolume,jdbcType=INTEGER},
      </if>
      <if test="productCategory != null" >
        product_category = #{productCategory,jdbcType=INTEGER},
      </if>
      <if test="productOpenFare != null" >
        product_open_fare = #{productOpenFare,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealerId != null" >
        dealer_id = #{dealerId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.vvings.ocpsystem.pojo.ProductInfo" >
    update opc_product_info
    set product_id = #{productId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_model = #{productModel,jdbcType=VARCHAR},
      product_volume = #{productVolume,jdbcType=INTEGER},
      product_category = #{productCategory,jdbcType=INTEGER},
      product_open_fare = #{productOpenFare,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dealer_id = #{dealerId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>